.directory 

*.bak

## OS X
.DS_Store
._.DS_Store
._*

## Lnx
*~

## PYTHON
*.pyc

## TMP
tmp/**

## Python virtualenv
venv/**


## KiCAD
*.bak
*.kicad_pcb-bak
*.bck
/hardware/_autosave-*
*.*~
_saved_*
